body{
    font-family: 'Bai Jamjuree', sans-serif;
    background: url("/Typography/project/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}
.container{
    position: relative;
    text-align: center;
}
.header{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}
.text-header{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    color: hsl(210, 10%, 33%);
    text-align: center;
    width: 37%;
}
h1{
    display: block;
    font-size: 2em;
        font-weight: bold;
}
.text-header p{
    color: hsl(201, 11%, 66%);
    margin-bottom: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 20px;
}
.button-container {
    margin-top: 20px;
}
.btn1{
    background-color: hsl(171, 66%, 44%);
    color: white;
    border: 1px solid hsla(171, 66%, 44%, 0.781);
    padding: 10px 20px;
    border-radius: 19px;
    font-size: 16px;
}
.btn1:hover{
    background-color:rgb(46, 204, 193);
}
.btn2{
    background-color: hsl(233, 100%, 69%);
    color: white;
    border: 1px solid hsla(233, 100%, 69%, 0.603);
    padding: 10px 20px;
    border-radius: 19px;
    font-size: 16px;
}
.btn2:hover{
    background-color: rgb(59, 59, 227);
}
.text-middle{
    margin-top: 55px;
    text-align: center;
}
.text-middle h2{
    color: hsl(210, 10%, 33%);
}
.text-middle p{
    color: hsl(201, 11%, 66%);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
}
#left_img{
    margin-left: -400px;
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
}
.right_side{
    text-align: left;
    max-width: 700px;
    margin-left: 180px;
}
.right_side h3{
    color: hsl(210, 10%, 33%);
    margin-bottom: -6px;
}
.right_side p{
    margin-bottom: 40px;
    color: hsl(201, 11%, 66%);
}
.access__clipboard{
    position: relative;
    top: 100px;
   }
   .access__clipboard h2{
    color: hsl(210, 10%, 33%);
   }
   .access__clipboard p{
    color:hsl(201, 11%, 66%);
   }
.access-clipboard-img {
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
}
.supercharge-flow{
    margin-top: 150px; 
}
.supercharge-flow h2{
    color: hsl(210, 10%, 33%);
}
.supercharge-flow p{
    color: hsl(201, 11%, 66%);
}
.blacklist-plain-sneak{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.blacklist-plain-sneak h3{
    color: hsl(210, 10%, 33%);
}
.blacklist-plain-sneak p{
    color: hsl(201, 11%, 66%);
    font-size: 12px;
}
.more__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 200px;
    flex-wrap: wrap;
    }
.more__icons img{
    max-width: 100px;
    height: auto;
}
.footer{
    margin-top: 160px;    
}
.footer p{
    color: hsl(201, 11%, 66%);
}
.footer h2{
    color: hsl(210, 10%, 33%);
}
.last__part{
    margin-top: 100px;
    background-color: hsla(0, 9%, 91%, 0.363);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
.last__part .last-part-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: hsl(210, 3%, 40%);
}
.last__part .last-part-content .contact-us{
flex-basis: 100%;
    display: flex;
    gap: 20px;
    margin-top: -30px;
}
.last__icons{
    display: flex;
    gap: 20px; 
}
@media (max-width: 768px) {    
    #left_img{
        align-items: center;
        justify-content: center;
        position: relative;
        left: 200px;
    }         
.more__icons{
    display: block;
    justify-content: space-between;   
}
.last__part .last-part-content{
    display: inline;
}
.last__part .last-part-content .contact-us{
    display: inline;
}
#left_img{
    width: 300px;
}
    .btn1, .btn2 {
        width: 100%;
        margin: 10px ;
    }    
    .last__part {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
    }
    .last__part .last-part-content {
        display: flex;
        justify-content: center;
    }
}
